*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;;

}

body{
  font-family: montserrat;
}

nav{
  background: #0082e6;
  height: 80px;
  width: 100%;
}

label#logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,a:hover{
  background: #1b9bff;
  transition: .1s;
  color: #4A4847;
}

.chekbtn{
  font-size: 30px;
  color: white;
  float:right;
  line-height: 80px;
  margin-right: 40px;
  cursor:pointer;
  display: none;
}

#check{
  display: none;
}

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
}

nav ul li a{
  font-size: 16px;
}

@media (max-width: 858px){
  .chekbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100hv;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .2s;

}
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:chekbtn ~ ul{
    left: 0;
  }
}

#inicio{
  margin: 30px auto;
}

.cimg{
  background: #3e4df0;
  text-align: center;
  margin-top: 0px auto;
  position: relative;
  width: 50%
  max-width: 600px;
  position: relative;
  align-items: center;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-top: 5px;

}

.cimg:before{
  content: "";
  width: 100%;
  height: 710px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(#fff, #fff);
  opacity: 0.5;
}

.txtheader{

}

.txtheader {
  font-family: Georgia, serif;
  font-size: 18px;
  letter-spacing: 1.4px;
  word-spacing: 0.6px;
  color: #fff;
  font-weight: 400;
  font-style: oblique;
  font-variant: normal;
  text-shadow: -2px -2px #000000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, 70%);
}

.ltxtheader:hover{
  background: #92b3e8;

}

a.ltxtheader{
  color: white;
  background:#324057;
  padding:2px;
  margin: 1px;
  border-radius: 5px;

}

.elegsec{
  text-align: center;
  font-family: monserrat, bold;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 6px;
  word-spacing: 8px;
  color: #000000;
  font-weight: 700;
  margin: 50px;
}

.elegtxt{
  right: 50%;
  border: 3px solid;
  padding: 20px;
  width: 400px;
}

#demoparagraph {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-gap: 50px;
-moz-column-gap: 50px;
column-gap: 50px;
-webkit-column-rule: 5px solid rgba(28,110,164,0.5);
-moz-column-rule: 5px solid rgba(28,110,164,0.5);
column-rule: 5px solid black;
border: 5px solid black;
padding: 30px;
margin: 50px;
}