
#titulo{
  background: #9f9df2;
  font-size: 30px;
  text-align: center;
  text-shadow: 12px -5px 2px rgba(150, 150, 150, 1);
}


#quienes{
  background: #999999;
  float: right;
  width: 750px;
  height:620px;
  margin: 10px;
  padding: 14px;
  font: arial 14px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px
}
